<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en">
	<head>

		<!-- Basic Page Needs
												================================================== -->
		<meta charset="utf-8">
		<title>ForminiTN</title>

		<!-- Mobile Specific Metas
												================================================== -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="Construction Html5 Template">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
		<meta name="author" content="Themefisher">
		<meta
		name="generator" content="Themefisher Educenter HTML Template v1.0">

		<!-- theme meta -->
		<meta name="theme-name" content="educenter"/>
		{% block css %}
			<!-- ** Plugins Needed for the Project ** -->
			<!-- Bootstrap -->
			<link
			rel="stylesheet" href="{{asset('Front/plugins/bootstrap/bootstrap.min.css')}}"> <!-- slick slider -->
			<link
			rel="stylesheet" href="{{asset('Front/plugins/slick/slick.css')}}">
			<!-- themefy-icon -->
			<link
			rel="stylesheet" href="{{asset('Front/plugins/themify-icons/themify-icons.css')}}">
			<!-- animation css -->
			<link
			rel="stylesheet" href="{{asset('Front/plugins/animate/animate.css')}}">
			<!-- aos -->
			<link
			rel="stylesheet" href="{{asset('Front/plugins/aos/aos.css')}}">
			<!-- venobox popup -->
			<link
			rel="stylesheet" href="{{asset('Front/plugins/venobox/venobox.css')}}">

			<!-- Main Stylesheet -->
			<link
			href="{{asset('Front/css/style.css')}}" rel="stylesheet">

			<!--Favicon-->
			<link rel="shortcut icon" href="{{asset('Front/images/favicon.png')}}" type="image/x-icon">
			<link rel="icon" href="{{asset('Front/images/favicon.png')}}" type="image/x-icon">
		{% endblock %}
	</head>

	<body>

		<header
			class="fixed-top header">
			<!-- navbar -->
			{%block header%}
			<div class="navigation w-100">
				<div class="container">
					<nav class="navbar navbar-expand-lg navbar-dark p-0">
						<a class="navbar-brand" href=""><img src="{{ asset('Front/images/logo_formini.png') }}" alt="logo"></a>
						<button class="navbar-toggler rounded-0" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>

						<div class="collapse navbar-collapse" id="navigation">
							<ul class="navbar-nav ml-auto text-center">
								<li class="nav-item @@home">
									<a class="nav-link" href="{{path('app_home')}}">Home</a>
								</li>
								<li class="nav-item active">
									<a class="nav-link" href="{{path('profil')}}">PROFILE</a>
								</li>
								<li class="nav-item @@courses">
									<a class="nav-link" href="courses.html.twig">COURSES</a>
								</li>
								<li class="nav-item @@events">
									<a class="nav-link" href="events.html.twig">EVENTS</a>
								</li>
								<li class="nav-item @@blog">
									<a class="nav-link" href="blog.html.twig">BLOG</a>
								</li>
								<li class="nav-item dropdown view">
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Pages
									</a>
									<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
										<li>
											<a class="dropdown-item" href="teacher.html.twig">Teacher</a>
										</li>
										<li>
											<a class="dropdown-item" href="teacher-single.html.twig">Teacher Single</a>
										</li>
										<li>
											<a class="dropdown-item" href="notice.html.twig">Notice</a>
										</li>
										<li>
											<a class="dropdown-item" href="notice-single.html.twig">Notice Details</a>
										</li>
										<li>
											<a class="dropdown-item" href="research.html.twig">Research</a>
										</li>
										<li>
											<a class="dropdown-item" href="scholarship.html.twig">Scholarship</a>
										</li>
										<li>
											<a class="dropdown-item" href="course-single.html.twig">Course Details</a>
										</li>
										<li>
											<a class="dropdown-item" href="event-single.html.twig">Event Details</a>
										</li>
										<li>
											<a class="dropdown-item" href="blog-single.html.twig">Blog Details</a>
										</li>

										<li class="dropdown-item dropdown dropleft">
											<a class="dropdown-toggle" href="#" id="navbarDropdownSubmenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												Sub Menu
											</a>
											<ul class="dropdown-menu dropdown-submenu" aria-labelledby="navbarDropdownSubmenu">
												<li>
													<a class="dropdown-item" href="#!">Sub Menu 01</a>
												</li>
												<li>
													<a class="dropdown-item" href="#!">Sub Menu 02</a>
												</li>
												<li>
													<a class="dropdown-item" href="#!">Sub Menu 03</a>
												</li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="nav-item @@contact">
									<a class="nav-link" href="contact.html.twig">CONTACT</a>
								</li>
	
                                <li class="nav-item @@logout">
									<a class="nav-link" href="{{path('app_logout')}}">Se déconnecter</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
		</header>
		{%endblock%}
		<!-- /header -->
		<br><br><br><br>
		<br><br><br><br>
		<br><br><br><br>


		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-10">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div
									class="col-md-5 text-center">
									<!-- User Photo -->
									<img src="{{ asset('Uploads/' ~ app.user.image) }}" alt="User Photo" style="max-width: 200px; border: 2px solid #ccc;">
								</div>
								<div
									class="col-md-7">
									<!-- User Information -->
									<h2 >Vos informations</h2>
									<p>
										<strong>Nom d'utilisateur:</strong>
										{{ userInfo.name }}</p>
									<p>
										<strong>E-mail:</strong>
										{{ userInfo.email }}</p>
									<p>
										<strong>Age:</strong>
										{{ userInfo.age }}</p>
									<p>
										<strong>Genre:</strong>
										{{ userInfo.gender }}</p>

								</div>
							</div>
						</div>
					</div>
					<!-- Configurable Buttons -->
					<div class="text-center mt-4">
						<a class="btn btn-primary mx-2" href="{{path('change_photo', {'id': user.idUser}) }}">Changer votre photo de profil</a>
						<a class="btn btn-secondary mx-2" href="{{path('app_change_password', {'id': user.idUser}) }}">Changer votre mot de passe</a>
						<!-- Add more buttons as needed -->
					</div>
				</div>
			</div>
		</div>


		<br><br><br><br>
		<br><br><br><br>
		<br><br><br><br>
		<br><br><br><br>

		<!-- footer -->
		{%block footer %}
		<footer>
			<!-- footer content -->
			<div class="footer bg-footer section border-bottom">
				<div class="container">
					<div class="row">
						<div
							class="col-lg-4 col-sm-8 mb-5 mb-lg-0">
							<!-- logo -->
							<a class="logo-footer" href="index.html.twig"><img class="img-fluid mb-4" src="images/logo.png" alt="logo"></a>
							<ul class="list-unstyled">
								<li class="mb-2">23621 15 Mile Rd #C104, Clinton MI, 48035, New York, USA</li>
								<li class="mb-2">+1 (2) 345 6789</li>
								<li class="mb-2">+1 (2) 345 6789</li>
								<li class="mb-2">contact@yourdomain.com</li>
							</ul>
						</div>
						<!-- company -->
						<div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
							<h4 class="text-white mb-5">COMPANY</h4>
							<ul class="list-unstyled">
								<li class="mb-3">
									<a class="text-color" href="about.html.twig">About Us</a>
								</li>
								<li class="mb-3">
									<a class="text-color" href="teacher.html.twig">Our Teacher</a>
								</li>
								<li class="mb-3">
									<a class="text-color" href="contact.html.twig">Contact</a>
								</li>
								<li class="mb-3">
									<a class="text-color" href="blog.html.twig">Blog</a>
								</li>
							</ul>
						</div>
						<!-- links -->
						<div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
							<h4 class="text-white mb-5">LINKS</h4>
							<ul class="list-unstyled">
								<li class="mb-3">
									<a class="text-color" href="courses.html.twig">Courses</a>
								</li>
								<li class="mb-3">
									<a class="text-color" href="events.html.twig">Events</a>
								</li>
								<li class="mb-3">
									<a class="text-color" href="notice.html.twig">Notice</a>
								</li>
								<li class="mb-3">
									<a class="text-color" href="scholarship.html.twig">Scholarship</a>
								</li>
							</ul>
						</div>
						<!-- support -->
						<div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
							<h4 class="text-white mb-5">SUPPORT</h4>
							<ul class="list-unstyled">
								<li class="mb-3">
									<a class="text-color" href="https://themefisher.com/blog">Forums</a>
								</li>
								<li class="mb-3">
									<a class="text-color" href="https://docs.themefisher.com/">Documentation</a>
								</li>
								<li class="mb-3">
									<a class="text-color" href="#!">Language</a>
								</li>
								<li class="mb-3">
									<a class="text-color" href="#!">Release Status</a>
								</li>
							</ul>
						</div>
						<!-- support -->
						<div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
							<h4 class="text-white mb-5">RECOMMEND</h4>
							<ul class="list-unstyled">
								<li class="mb-3">
									<a class="text-color" href="https://themefisher.com/">WordPress</a>
								</li>
								<li class="mb-3">
									<a class="text-color" href="https://themefisher.com/">LearnPress</a>
								</li>
								<li class="mb-3">
									<a class="text-color" href="https://themefisher.com/">WooCommerce</a>
								</li>
								<li class="mb-3">
									<a class="text-color" href="https://themefisher.com/">bbPress</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- copyright -->
			<div class="copyright py-4 bg-footer">
				<div class="container">
					<div class="row">
						<div class="col-sm-7 text-sm-left text-center">
							<p class="mb-0">Copyright &copy;
								<script>
									var CurrentYear = new Date().getFullYear()
document.write(CurrentYear)
								</script>
								, designed & developed by
								<a href="https://themefisher.com/" class="text-muted">Themefisher</a>
							</p>
						</div>
						<div class="col-sm-5 text-sm-right text-center">
							<ul class="list-inline">
								<li class="list-inline-item">
									<a class="d-inline-block p-2" href="https://facebook.com/themefisher/">
										<i class="ti-facebook text-primary"></i>
									</a>
								</li>
								<li class="list-inline-item">
									<a class="d-inline-block p-2" href="https://twitter.com/themefisher">
										<i class="ti-twitter-alt text-primary"></i>
									</a>
								</li>
								<li class="list-inline-item">
									<a class="d-inline-block p-2" href="https://github.com/themefisher">
										<i class="ti-github text-primary"></i>
									</a>
								</li>
								<li class="list-inline-item">
									<a class="d-inline-block p-2" href="https://instagram.com/themefisher/">
										<i class="ti-instagram text-primary"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- /footer -->
		{%endblock%}
		{% block js %}
			<!-- jQuery -->

			<script src="{{asset('Front/plugins/jQuery/jquery.min.js')}}"></script>
			<!-- Bootstrap JS -->
			<script src="{{asset('Front/plugins/bootstrap/bootstrap.min.js')}}"></script>
			<!-- slick slider -->
			<script src="{{asset('Front/plugins/slick/slick.min.js')}}"></script>
			<!-- aos -->
			<script src="{{asset('Front/plugins/aos/aos.js')}}"></script>
			<!-- venobox popup -->
			<script src="{{asset('Front/plugins/venobox/venobox.min.js')}}"></script>
			<!-- filter -->
			<script src="{{asset('Front/plugins/filterizr/jquery.filterizr.min.js')}}"></script>
			<!-- google map -->
			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU"></script>
			<script src="{{asset('Front/plugins/google-map/gmap.js')}}"></script>

			<!-- Main Script -->
			<script src="{{asset('Front/js/script.js')}}"></script>
		{% endblock %}

	</body>
</html>
