{% extends 'base.html.twig' %}



{% block body %}
    <section class="section">
        <div class="container">
            <h1>Vos formations</h1>

            <!-- Display formation cards -->
            <div class="row">
                {% for formation in client_formations %}
                    <div class="col-lg-4 col-sm-6 mb-5">
                        <div class="card p-0 border-primary rounded-0 hover-shadow">
                            <div class="card-body">
                                <ul class="list-inline mb-2">
                                    <li class="list-inline-item">
                                        <a class="text-color" href="#">{{ formation.getCat() }}</a>
                                    </li>
                                </ul>
                                <h4 class="card-title">{{ formation.getNomForm() }}</h4>
								  <p class="card-text mb-1">Date de début : {{ formation.getDateDebut()|date('d/m/Y') }}</p>
                                <p class="card-text mb-1">Date de fin : {{ formation.getDateFin()|date('d/m/Y') }}</p>
                                <p class="card-text mb-4">{{ formation.getDescription() }}</p>
                                 <a href="{{ path('app_formation_details1', {'id': formation.getIdForm()}) }}" class="btn btn-primary btn-sm">Details</a>

                                <form id="inscription-form-{{ formation.getIdForm() }}" action="{{ path('app_user_form_room_inscription', {'idForm': formation.getIdForm()}) }}" method="post" style="display: none;">
                                    <input type="hidden" name="idForm" value="{{ formation.getIdForm() }}">
                                    {{ csrf_token('app_user_form_room_inscription') }}
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <a href="{{ path('courses') }}" class="btn btn-primary mt-3">Retour</a>
        </div>
    </section>

    <!-- Calendar Section -->
    <section class="section">
        <div class="container">
            <h2>Votre Calendrier</h2>
            <div id="calendar-holder"></div>
        </div>
    </section>

     <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.global.min.js" integrity="sha256-dHUNnePy81fXq4D/wfu7cPsEIP7zl6MvLb84jtZf+UY=" crossorigin="anonymous"></script>


    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar-holder');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                // Configure FullCalendar options here
                initialView: 'dayGridMonth',
                events: [
                    {% for formation in client_formations %}
                        {
                            title: '{{ formation.getNomForm() }}',
                            start: '{{ formation.getDateDebut()|date('Y-m-d') }}',
                            end: '{{ formation.getDateFin()|date('Y-m-d') }}'
                        },
                    {% endfor %}
                ]
            });
            calendar.render();
        });
    </script>
{% endblock %}


