{% extends 'base.html.twig' %}


{% block body %}
    <div class="container">
        <div class="formation-info">
            <h1 class="mb-4">Détails de la formation "{{ formation.getNomForm() }}"</h1>
            <p><strong>Description :</strong> {{ formation.description }}</p>
            <!-- Ajouter plus de détails sur la formation au besoin -->
        </div>

        <hr>

        <div class="upload-form">
            <h2 class="mb-3">Ajoutez un fichier</h2>
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_row(form.files) }}
            </div>
            <div class="form-group">
                {{ form_row(form.submit, {'label': 'Ajouter', 'attr': {'class': 'btn btn-primary'}}) }}
            </div>
            {{ form_end(form) }}

            {% for flash_message in app.flashes('success') %}
                <div class="alert alert-success" role="alert">{{ flash_message }}</div>
            {% endfor %}
        </div>

        <hr>

        <div class="uploaded-file">
            <h2 class="mb-3">Fichier téléchargé</h2>
            {% if formation.fileContent is not null %}
                <a href="{{ path('app_formation_pdf', {'id': formation.idForm}) }}" class="btn btn-primary">Voir PDF</a>
            {% else %}
                <p>Aucun fichier PDF disponible.</p>
            {% endif %}
        </div>

        <hr>

        <div class="back-button">
            <a href="{{ path('app_formateur_formations') }}" class="btn btn-secondary">Retour à la liste des formations</a>
        </div>
    </div>
{% endblock %}


