{% extends 'admin.html.twig' %}

{% block title %}
    Liste des Formations
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <style>
        
        .page-content {
            font-family: Georgia, serif; 
        }
        body {
            background-color: #f8f9fa;
            color: #212529; 
        }
        .title-container {
            text-align: center; 
            
            margin-bottom: 40px; 
        }
        .form-title {
            font-size: 32px; 
            color: #213e60; 
            font-weight: bold; 
            text-transform: uppercase;
            letter-spacing: 2px; 
        }
        .form-label {
            font-size: 15px; 
            font-weight: bold; 
        }
        .form-input {
            border-color: #d8d1bd;
            border: 2px solid #ccc; 
            border-radius: 10px; 
            font-size: 16px; 
        }
        .form-group {
            margin-bottom: 20px; 
        }
        .custom-card {
            border-radius: 15px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        .custom-button {
            background-color: #213E60; 
            color: white;
            display: block;
            margin: 0 auto;
            width: 300px; 
            text-align: center;
            padding: 10px 20px; 
            border-radius: 20px; 
            border: none; 
            cursor: pointer;
            transition: background-color 0.3s, transform 0.2s; 
            font-weight: bold; 
             margin-bottom: 10px;
        }
        .custom-button:hover {
            text-decoration: underline; 
            transform: scale(1.05); 
            background-color: #2C5282; 
        }
    </style>
{% endblock %}

{% block content %}
    <div class="page-content">
        <div class="title-container">
            <h1 class="form-title">Liste des Formations</h1>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Catégorie</th>
                    <th>Room</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for formation in formations %}
                    <tr>
                        <td>{{ formation.nomForm }}</td>
                        <td>{{ formation.description }}</td>
                        <td>{{ formation.cat.nomCat }}</td>
                        <td>
                            {% set userFormRoom = userFormRooms[formation.getIdForm()] %}
                            {{ userFormRoom[0].getRoom().getNomRoom() ?? 'N/A' }}
                        </td>
                        <td>
                            <a href="{{ path('app_formation_edit', {'idForm': formation.idForm}) }}">Éditer</a>
                            {{ include('formation/_delete_form.html.twig', {'idForm': formation.idForm}) }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_formation_new') }}" class="custom-button">Créer une nouvelle formation</a>
        <a href="{{ path('app_user_form_room_index') }}" class="custom-button">Liste des formateurs et participants</a>
    </div>
{% endblock %}