{% extends 'admin.html.twig' %}

{% block title %}Détails des Formations{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
       
        .delete-link {
            color: #213E60; 
            margin-left: 5px; 
        }
    </style>
{% endblock %}

{% block content %}
    <div class="page-content">
        <div class="title-container">
            <h2 class="form-title">Détails des Formations</h2>
        </div>

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}

        <table class="table">
            <thead>
                <tr>
                    <th>Formation</th>
                    <th>Formateur</th>
                    <th>Clients</th>
                </tr>
            </thead>
            <tbody>
                {% for user_form_room in user_form_rooms %}
                    <tr>
                        <td>{{ user_form_room.getForm().getNomForm() }}</td>
                        <td>
                            {% set formateurs = user_form_room.getForm().getFormateurs() %}
                            {% if formateurs|length > 0 %}
                                {% set formateur = formateurs.first() %}
                                {% if formateur is not null %}
                                    {{ formateur.getUser().getUsername() }}
                                {% else %}
                                    Aucun formateur
                                {% endif %}
                            {% else %}
                                Aucun formateur
                            {% endif %}
                        </td>
                        <td>
                            <ul>
                                {% for client in user_form_room.getForm().getParticipants() %}
                                    <li>
                                        {{ client.getUser().getUsername() }}
                                    
                                            <form method="post" action="{{ path('app_user_form_room_delete_client', {'idFR': user_form_room.getIdFR(), 'userId': client.getUser().getIdUser()}) }}">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ client.getUser().getIdUser()) }}">
                                                <button type="submit" class="btn btn-link delete-link">Supprimer</button>
                                            </form>
                                        
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_list_formations') }}">Retour à la liste des formations</a>
    </div>
{% endblock %}
