<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Rooms</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <!-- Include Slick Slider CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
   <!-- ** Plugins Needed for the Project ** -->
		<!-- Bootstrap -->
		<link
		rel="stylesheet" href="{{asset('Front/plugins/bootstrap/bootstrap.min.css')}}"> <!-- slick slider -->
		<link
		rel="stylesheet" href="{{asset('Front/plugins/slick/slick.css')}}">
		<!-- themefy-icon -->
		<link
		rel="stylesheet" href="{{asset('Front/plugins/themify-icons/themify-icons.css')}}">
		<!-- animation css -->
		<link
		rel="stylesheet" href="{{asset('Front/plugins/animate/animate.css')}}">
		<!-- aos -->
		<link
		rel="stylesheet" href="{{asset('Front/plugins/aos/aos.css')}}">
		<!-- venobox popup -->
		<link
		rel="stylesheet" href="{{asset('Front/plugins/venobox/venobox.css')}}">

		<!-- Main Stylesheet -->
		<link
		href="{{asset('Front/css/style.css')}}" rel="stylesheet">

		<!--Favicon-->
		<link rel="shortcut icon" href="{{asset('Front/images/favicon.png')}}" type="image/x-icon">
		<link rel="icon" href="{{asset('Front/images/favicon.png')}}" type="image/x-icon">

   <style>
    /* Custom styles for the list of rooms */
    .room-card {
        display: inline-block;
    width: calc(33.33% - 20px); /* 1/3 of the container width minus margin */
    margin-right: 20px; /* Add some space between cards */
    margin-bottom: 20px; /* Add some space at the bottom */
    vertical-align: top; /* Align cards at the top */
    position: relative; /* Ensure cards are positioned relative */
    z-index: 0; /* Set z-index to ensure cards are below arrows and dots */
    }
    .room-card .card-body {
        padding: 20px;
    }
    .room-card .card-title {
        font-size: 1.2rem;
        font-weight: bold;
    }
    .room-card .card-text {
        color: #6c757d;
    }
    .room-card .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }
    .room-card .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }

   /* Custom styles for Slick Slider arrows */
.slick-prev,
.slick-next {
    color: black; /* Change the arrow color to black */
    font-size: 24px; /* Adjust the arrow size if needed */
    z-index: 1; /* Ensure arrows are above cards */
    position: absolute; /* Ensure arrows are absolutely positioned */
    top: 50%; /* Position arrows vertically in the middle */
    transform: translateY(-50%); /* Center arrows vertically */
}

.slick-prev {
    left: 0; /* Position previous arrow on the left */
}

.slick-next {
    right: 0; /* Position next arrow on the right */
}

/* Style the arrows on hover */
.slick-prev:hover,
.slick-next:hover {
    color: darkgray; /* Change the arrow color on hover */
}

#room-slider {
    position: relative; /* Ensure the slider container is positioned relative */
}

.slick-dots {
    position: absolute; /* Ensure dots are absolutely positioned */
    bottom: 10px; /* Adjust the distance from the bottom */
    left: 0;
    right: 0;
    margin: auto; /* Center the dots horizontally */
    width: auto; /* Set width to auto to fit content */
    text-align: center; /* Center the dots text */
    z-index: 1; /* Ensure dots are above cards */
}

</style>

 
</head>
<body>
 <div class="preloader">
    <img src="{{ asset('Front/images/preloader.gif') }}" alt="preloader">
  </div>
  <!-- preloader end -->


 <!-- header -->
		<header
			class="fixed-top header">
			<!-- top header -->
			<div class="top-header py-2 bg-white">
				<div class="container">
					<div class="row no-gutters">
						<div class="col-lg-4 text-center text-lg-left">
							<a class="text-color mr-3" href="tel:+443003030266">
								<strong>CALL</strong>
								+44 300 303 0266</a>
							<ul class="list-inline d-inline">
								<li class="list-inline-item mx-0">
									<a class="d-inline-block p-2 text-color" href="https://facebook.com/themefisher/">
										<i class="ti-facebook"></i>
									</a>
								</li>
								<li class="list-inline-item mx-0">
									<a class="d-inline-block p-2 text-color" href="https://twitter.com/themefisher">
										<i class="ti-twitter-alt"></i>
									</a>
								</li>
								<li class="list-inline-item mx-0">
									<a class="d-inline-block p-2 text-color" href="https://github.com/themefisher">
										<i class="ti-github"></i>
									</a>
								</li>
								<li class="list-inline-item mx-0">
									<a class="d-inline-block p-2 text-color" href="https://instagram.com/themefisher/">
										<i class="ti-instagram"></i>
									</a>
								</li>
							</ul>
						</div>
						<div class="col-lg-8 text-center text-lg-right">
							<ul class="list-inline">
								<li class="list-inline-item">
									<a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="notice.html.twig">notice</a>
								</li>
								<li class="list-inline-item">
									<a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="research.html.twig">research</a>
								</li>
								<li class="list-inline-item">
									<a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="scholarship.html.twig">SCHOLARSHIP</a>
								</li>
								<li class="list-inline-item">
									<a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="#loginModal" data-toggle="modal" data-target="#loginModal">login</a>
								</li>
								<li class="list-inline-item">
									<a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="#signupModal" data-toggle="modal" data-target="#signupModal">register</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- navbar -->
			<div class="navigation w-100">
				<div class="container">
					<nav class="navbar navbar-expand-lg navbar-dark p-0">
						<a class="navbar-brand" href="index.html.twig"><img src="{{asset('Front/images/logo1.png')}}" alt="logo"></a>
						<button class="navbar-toggler rounded-0" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>

						<div class="collapse navbar-collapse" id="navigation">
							<ul class="navbar-nav ml-auto text-center">
								<li class="nav-item @@home">
									<a class="nav-link" href="index.html.twig">Acceuil</a>
								</li>
								<li class="nav-item @@about">
									<a class="nav-link" href="about.html.twig">About</a>
								</li>
								<li class="nav-item active">
									<a class="nav-link" href="courses.html.twig">FORMATIONS</a>
								</li>
								<li class="nav-item @@events">
									<a class="nav-link" href="events.html.twig">EVENEMENTS</a>
								</li>
								<li class="nav-item @@blog">
									<a class="nav-link" href="blog.html.twig">BLOG</a>
								</li>
								
								<li class="nav-item @@contact">
									<a class="nav-link" href="contact.html.twig">CONTACT</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
		</header>
		<!-- /header -->
		<!-- Modal -->
		<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content rounded-0 border-0 p-4">
					<div class="modal-header border-0">
						<h3>Register</h3>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="login">
							<form action="#" class="row">
								<div class="col-12">
									<input type="text" class="form-control mb-3" id="signupPhone" name="signupPhone" placeholder="Phone">
								</div>
								<div class="col-12">
									<input type="text" class="form-control mb-3" id="signupName" name="signupName" placeholder="Name">
								</div>
								<div class="col-12">
									<input type="email" class="form-control mb-3" id="signupEmail" name="signupEmail" placeholder="Email">
								</div>
								<div class="col-12">
									<input type="password" class="form-control mb-3" id="signupPassword" name="signupPassword" placeholder="Password">
								</div>
								<div class="col-12">
									<button type="submit" class="btn btn-primary">SIGN UP</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content rounded-0 border-0 p-4">
					<div class="modal-header border-0">
						<h3>Login</h3>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form action="#" class="row">
							<div class="col-12">
								<input type="text" class="form-control mb-3" id="loginPhone" name="loginPhone" placeholder="Phone">
							</div>
							<div class="col-12">
								<input type="text" class="form-control mb-3" id="loginName" name="loginName" placeholder="Name">
							</div>
							<div class="col-12">
								<input type="password" class="form-control mb-3" id="loginPassword" name="loginPassword" placeholder="Password">
							</div>
							<div class="col-12">
								<button type="submit" class="btn btn-primary">LOGIN</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<!-- page title -->
		<section class="page-title-section overlay" data-background="images/backgrounds/page-title.jpg">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<ul class="list-inline custom-breadcrumb mb-2">
							<li class="list-inline-item">
								<a class="h2 text-primary font-secondary" href="index.html.twig">Messagerie</a>
							</li>
							<li class="list-inline-item text-white h3 font-secondary nasted">Vos discussions</li>
						</ul>
						<p class="text-lighten mb-0">C'est ici que les étudiants comme vous se réunissent pour explorer, 
                        <br/>échanger des idées et approfondir leur compréhension.
                        <br/> Que vous soyez ici pour poser des questions, partager vos expériences ou simplement écouter, 
                        <br/>vous êtes le bienvenu à contribuer à cette communauté dynamique.</p>
					</div>
				</div>
			</div>
		</section>
		<!-- /page title -->

		<!-- courses -->
<div class="page-content">
    <div class="title-container">
        <h2 class="form-title"> <i class="fas fa-lightbulb" style="margin-right: 10px;"></i></h2>
    </div>
    <br/>

   <div class="container mt-5">
    <div class="text-center">
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
    </div>
    
    <h1 class="text-center mb-4">List of Rooms</h1>
    <!-- Use a div for the Slick Slider -->
    <div id="room-slider" class="slick-slider">
        {% for room in rooms %}
        <div class="room-card">
            <div class="card-body">
                <h5 class="card-title">{{ room.nomRoom }}</h5>
                <p class="card-text">{{ room.description }}</p>
                <a href="{{ path('addmsg', {'id': room.idRoom}) }}" class="btn btn-primary btn-sm">View Details</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


<!-- footer content -->
			<div class="footer bg-footer section border-bottom">
				<div class="container">
					<div class="row">
						<div
							class="col-lg-4 col-sm-8 mb-5 mb-lg-0">
							<!-- logo -->
							<a class="logo-footer" href="index.html.twig"><img class="img-fluid mb-4" src="Front/images/logo1.png" alt="logo"></a>
							<ul class="list-unstyled">
								<li class="mb-2">23621 15 Mile Rd #C104, Clinton MI, 48035, New York, USA</li>
								<li class="mb-2">+1 (2) 345 6789</li>
								<li class="mb-2">+1 (2) 345 6789</li>
								<li class="mb-2">contact@yourdomain.com</li>
							</ul>
						</div>
						<!-- company -->
						<div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
							<h4 class="text-white mb-5">COMPANY</h4>
							<ul class="list-unstyled">
								<li class="mb-3">
									<a class="text-color" href="about.html.twig">About Us</a>
								</li>
								<li class="mb-3">
									<a class="text-color" href="teacher.html.twig">Our Teacher</a>
								</li>
								<li class="mb-3">
									<a class="text-color" href="contact.html.twig">Contact</a>
								</li>
								<li class="mb-3">
									<a class="text-color" href="blog.html.twig">Blog</a>
								</li>
							</ul>
						</div>
						<!-- links -->
						<div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
							<h4 class="text-white mb-5">LINKS</h4>
							<ul class="list-unstyled">
								<li class="mb-3">
									<a class="text-color" href="courses.html.twig">Courses</a>
								</li>
								<li class="mb-3">
									<a class="text-color" href="events.html.twig">Events</a>
								</li>
								<li class="mb-3">
									<a class="text-color" href="notice.html.twig">Notice</a>
								</li>
								<li class="mb-3">
									<a class="text-color" href="scholarship.html.twig">Scholarship</a>
								</li>
							</ul>
						</div>
						<!-- support -->
						<div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
							<h4 class="text-white mb-5">SUPPORT</h4>
							<ul class="list-unstyled">
								<li class="mb-3">
									<a class="text-color" href="https://themefisher.com/blog">Forums</a>
								</li>
								<li class="mb-3">
									<a class="text-color" href="https://docs.themefisher.com/">Documentation</a>
								</li>
								<li class="mb-3">
									<a class="text-color" href="#!">Language</a>
								</li>
								<li class="mb-3">
									<a class="text-color" href="#!">Release Status</a>
								</li>
							</ul>
						</div>
						<!-- support -->
						<div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
							<h4 class="text-white mb-5">RECOMMEND</h4>
							<ul class="list-unstyled">
								<li class="mb-3">
									<a class="text-color" href="https://themefisher.com/">WordPress</a>
								</li>
								<li class="mb-3">
									<a class="text-color" href="https://themefisher.com/">LearnPress</a>
								</li>
								<li class="mb-3">
									<a class="text-color" href="https://themefisher.com/">WooCommerce</a>
								</li>
								<li class="mb-3">
									<a class="text-color" href="https://themefisher.com/">bbPress</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- copyright -->
			<div class="copyright py-4 bg-footer">
				<div class="container">
					<div class="row">
						<div class="col-sm-7 text-sm-left text-center">
							<p class="mb-0">Copyright &copy;
								<script>
									var CurrentYear = new Date().getFullYear()
document.write(CurrentYear)
								</script>
								, designed & developed by
								<a href="https://themefisher.com/" class="text-muted">Themefisher</a>
							</p>
						</div>
						<div class="col-sm-5 text-sm-right text-center">
							<ul class="list-inline">
								<li class="list-inline-item">
									<a class="d-inline-block p-2" href="https://facebook.com/themefisher/">
										<i class="ti-facebook text-primary"></i>
									</a>
								</li>
								<li class="list-inline-item">
									<a class="d-inline-block p-2" href="https://twitter.com/themefisher">
										<i class="ti-twitter-alt text-primary"></i>
									</a>
								</li>
								<li class="list-inline-item">
									<a class="d-inline-block p-2" href="https://github.com/themefisher">
										<i class="ti-github text-primary"></i>
									</a>
								</li>
								<li class="list-inline-item">
									<a class="d-inline-block p-2" href="https://instagram.com/themefisher/">
										<i class="ti-instagram text-primary"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- /footer -->

		
	
 


    <!-- Include jQuery, Bootstrap JS, and Slick Slider JS -->
    <!-- jQuery -->
		<script src="{{asset('Front/plugins/jQuery/jquery.min.js')}}"></script>
		<!-- Bootstrap JS -->
		<script src="{{asset('Front/plugins/bootstrap/bootstrap.min.js')}}"></script>
		<!-- slick slider -->
		<script src="{{asset('Front/plugins/slick/slick.min.js')}}"></script>
		<!-- aos -->
		<script src="{{asset('Front/plugins/aos/aos.js')}}"></script>
		<!-- venobox popup -->
		<script src="{{asset('Front/plugins/venobox/venobox.min.js')}}"></script>
		<!-- filter -->
		<script src="{{asset('Front/plugins/filterizr/jquery.filterizr.min.js')}}"></script>
		<!-- google map -->
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU"></script>
		<script src="{{asset('Front/plugins/google-map/gmap.js')}}"></script>

		<!-- Main Script -->
		<script src="{{asset('Front/js/script.js')}}"></script>

	
 
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script>
        // Initialize the Slick Slider
        $(document).ready(function(){
            $('#room-slider').slick({
                 slidesToShow: 5,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        dots: true,
        arrows: true,
        prevArrow: '<button type="button" class="slick-prev"><i class="fas fa-chevron-left"></i></button>',
        nextArrow: '<button type="button" class="slick-next"><i class="fas fa-chevron-right"></i></button>'
    
            });
        });
    </script>
</body>
</html>