{% extends 'Front/index.html.twig' %}
{%block body1 %}
<body>
  <!-- preloader start -->
  <div class="preloader">
    <img src="/uploads/preloader.gif" alt="preloader">
  </div>
  <!-- preloader end -->


<!-- header -->
<header class="fixed-top header">
  <!-- top header -->
  <div class="top-header py-2 bg-white">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-lg-4 text-center text-lg-left">
          <a class="text-color mr-3" href="tel:+443003030266"><strong>CALL</strong> +44 300 303 0266</a>
          <ul class="list-inline d-inline">
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="https://facebook.com/themefisher/"><i class="ti-facebook"></i></a></li>
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="https://twitter.com/themefisher"><i class="ti-twitter-alt"></i></a></li>
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="https://github.com/themefisher"><i class="ti-github"></i></a></li>
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="https://instagram.com/themefisher/"><i class="ti-instagram"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-8 text-center text-lg-right">
          <ul class="list-inline">
            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="notice.html.twig">notice</a></li>
            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="research.html.twig">research</a></li>
            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="scholarship.html.twig">SCHOLARSHIP</a></li>
            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="#loginModal" data-toggle="modal" data-target="#loginModal">login</a></li>
            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="#signupModal" data-toggle="modal" data-target="#signupModal">register</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
 <!-- navbar -->
  <div class="navigation w-100">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark p-0">
        <a class="navbar-brand" href="index.html.twig"><img src="/uploads/forminiii.png" alt="logo"></a>
        <button class="navbar-toggler rounded-0" type="button" data-toggle="collapse" data-target="#navigation"
          aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navigation">
          <ul class="navbar-nav ml-auto text-center">
            <li class="nav-item active">
              <a class="nav-link" href="index.html.twig">Home</a>
            </li>
            <li class="nav-item @@about">
              <a class="nav-link" href="about.html.twig">About</a>
            </li>
            <li class="nav-item @@courses">
              <a class="nav-link" href="courses.html.twig">COURSES</a>
            </li>
            <li class="nav-item @@events">
              <a class="nav-link" href="{{ path('app_events') }}">EVENTS</a>
            </li>
            <li class="nav-item @@blog">
              <a class="nav-link" href="blog.html.twig">BLOG</a>
            </li>
            <li class="nav-item dropdown view">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pages
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="teacher.html.twig">Teacher</a></li>
                <li><a class="dropdown-item" href="teacher-single.html.twig">Teacher Single</a></li>
                <li><a class="dropdown-item" href="notice.html.twig">Notice</a></li>
                <li><a class="dropdown-item" href="notice-single.html.twig">Notice Details</a></li>
                <li><a class="dropdown-item" href="research.html.twig">Research</a></li>
                <li><a class="dropdown-item" href="scholarship.html.twig">Scholarship</a></li>
                <li><a class="dropdown-item" href="course-single.html.twig">Course Details</a></li>
                <li><a class="dropdown-item" href="event-single.html.twig">Event Details</a></li>
                <li><a class="dropdown-item" href="blog-single.html.twig">Blog Details</a></li>
                
                <li class="dropdown-item dropdown dropleft">
                  <a class="dropdown-toggle" href="#" id="navbarDropdownSubmenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sub Menu
                  </a>
                  <ul class="dropdown-menu dropdown-submenu" aria-labelledby="navbarDropdownSubmenu">
                    <li><a class="dropdown-item" href="#!">Sub Menu 01</a></li>
                    <li><a class="dropdown-item" href="#!">Sub Menu 02</a></li>
                    <li><a class="dropdown-item" href="#!">Sub Menu 03</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="nav-item @@contact">
              <a class="nav-link" href="contact.html.twig">CONTACT</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  </header>
<!-- page title -->
<section class="page-title-section overlay" data-background="uploads/backgrounds/page-title.jpg">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-inline custom-breadcrumb mb-2">
          <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="index.html.twig">Home</a></li>
          <li class="list-inline-item text-white h3 font-secondary nasted">Event details</li>
        </ul>
        <p class="text-lighten mb-0">Voici les details de l'evenement.</p>
      </div>
    </div>
  </div>
</section>
  <!-- event details -->
  <section class="section-sm">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="section-title">{{ event.nomEvent }}</h2>
        </div>
        <!-- event image -->
        <div class="col-12 mb-4">
          <img src="{{ asset('/uploads/' ~ event.imageEvent) }}" alt="event thumb" class="img-fluid w-100">
        </div>
      </div>
      <!-- event info -->
      <div class="row align-items-center mb-5">
        <div class="col-lg-9">
          <!-- Display event information (location, date, time, entry fee) -->
          <ul class="list-inline">
            <li class="list-inline-item mr-xl-5 mr-4 mb-3 mb-lg-0">
              <!-- Location -->
              <div class="d-flex align-items-center">
                <i class="ti-location-pin text-primary icon-md mr-2"></i>
                <div class="text-left">
                  <h6 class="mb-0">LOCATION</h6>
                  <p class="mb-0">{{ event.lieu }}</p>
                </div>
              </div>
            </li>
            <!-- Display other event details (date, time, entry fee) -->
            <li class="list-inline-item mr-xl-5 mr-4 mb-3 mb-lg-0">
              <div class="d-flex align-items-center">
                <i class="ti-calendar text-primary icon-md mr-2"></i>
                <div class="text-left">
                  <h6 class="mb-0">DATE</h6>
                  <p class="mb-0">{{ event.dateEvent|date('F d, Y') }}</p>
                </div>
              </div>
            </li>
            <li class="list-inline-item mr-xl-5 mr-4 mb-3 mb-lg-0">
              <div class="d-flex align-items-center">
                <i class="ti-time text-primary icon-md mr-2"></i>
                <div class="text-left">
                  <h6 class="mb-0">TIME</h6>
                  <p class="mb-0">{{ event.heureDeb|date('h:i a') }}</p>
                </div>
              </div>
            </li>
            <li class="list-inline-item mr-xl-5 mr-4 mb-3 mb-lg-0">
              <div class="d-flex align-items-center">
                <i class="ti-wallet text-primary icon-md mr-2"></i>
                <div class="text-left">
                  <h6 class="mb-0">ENTRY FEE</h6>
                  <p class="mb-0">${{ event.prix }}</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <!-- Apply for Event Form -->
      <div class="row">
        <div class="col-12 mb-4">
          <form action="{{ path('apply_event', { 'id': event.idEvent }) }}" method="post">
            <button type="submit" class="btn btn-primary">Apply for Event</button>
          </form>
        </div>
      </div>

      <!-- Event description -->
      <div class="row">
        <div class="col-12 mb-50">
          <h3>About Event</h3>
          <p>{{ event.description }}</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Map container with reduced width -->
  <div id="mapContainer" style="height: 400px; width: 100%; max-width: 600px; margin: 0 auto;"></div>

  <!-- Include Leaflet JS and CSS -->
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />

  <!-- Script for Map Initialization -->
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var lieu = "{{ event.lieu }}"; // Get the location from Twig variable

      // Create a map container with Leaflet
      var map = L.map('mapContainer').setView([0, 0], 13); // Default view (latitude, longitude, zoom)

      // Add OpenStreetMap tiles to the map
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors'
      }).addTo(map);

      // Use a geocoding service to convert the location string to coordinates
      fetch('https://nominatim.openstreetmap.org/search?format=json&q=' + encodeURIComponent(lieu))
        .then(function(response) {
          return response.json();
        })
        .then(function(data) {
          if (data.length > 0) {
            var location = data[0];
            var lat = location.lat;
            var lon = location.lon;

            // Center the map on the coordinates of the location
            map.setView([lat, lon], 13);

            // Add a marker for the location
            L.marker([lat, lon]).addTo(map)
              .bindPopup('<b>{{ event.nomEvent }}</b><br>{{ event.lieu }}').openPopup();
          } else {
            console.error('Location not found:', lieu);
          }
        })
        .catch(function(error) {
          console.error('Error fetching location:', error);
        });
    });
  </script>

</body>
{% endblock %}