{% extends 'Front/index.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ knp_pagination_render(pagination) }}
{% endblock %}

{% block body %}
    {{ knp_pagination_render(pagination) }}
{% endblock %}
{%block body1 %}
<body>
  <!-- preloader start -->
  <div class="preloader">
    <img src="img/preloader.gif" alt="preloader">
  </div>
  <!-- preloader end -->

<!-- header -->
<header class="fixed-top header">
  <!-- top header -->
  <div class="top-header py-2 bg-white">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-lg-4 text-center text-lg-left">
          <a class="text-color mr-3" href="tel:+443003030266"><strong>CALL</strong> +44 300 303 0266</a>
          <ul class="list-inline d-inline">
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="https://facebook.com/themefisher/"><i class="ti-facebook"></i></a></li>
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="https://twitter.com/themefisher"><i class="ti-twitter-alt"></i></a></li>
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="https://github.com/themefisher"><i class="ti-github"></i></a></li>
            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="https://instagram.com/themefisher/"><i class="ti-instagram"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-8 text-center text-lg-right">
          <ul class="list-inline">
            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="notice.html.twig">notice</a></li>
            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="research.html.twig">research</a></li>
            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="scholarship.html.twig">SCHOLARSHIP</a></li>
            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="#loginModal" data-toggle="modal" data-target="#loginModal">login</a></li>
            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="#signupModal" data-toggle="modal" data-target="#signupModal">register</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
 <!-- navbar -->
  <div class="navigation w-100">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark p-0">
        <a class="navbar-brand" href="index.html.twig"><img src="/img/logo.png" alt="logo"></a>
        <button class="navbar-toggler rounded-0" type="button" data-toggle="collapse" data-target="#navigation"
          aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navigation">
          <ul class="navbar-nav ml-auto text-center">
            <li class="nav-item active">
              <a class="nav-link" href="index.html.twig">Home</a>
            </li>
            <li class="nav-item @@about">
              <a class="nav-link" href="about.html.twig">About</a>
            </li>
            <li class="nav-item @@courses">
              <a class="nav-link" href="courses.html.twig">COURSES</a>
            </li>
            <li class="nav-item @@events">
              <a class="nav-link" href="events.html.twig">EVENTS</a>
            </li>
            <li class="nav-item @@blog">
              <a class="nav-link" href="blog.html.twig">BLOG</a>
            </li>
            <li class="nav-item dropdown view">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pages
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="teacher.html.twig">Teacher</a></li>
                <li><a class="dropdown-item" href="teacher-single.html.twig">Teacher Single</a></li>
                <li><a class="dropdown-item" href="{{ path('app_notice') }}">Quiz</a></li>
                <li><a class="dropdown-item" href="notice-single.html.twig">Notice Details</a></li>
                <li><a class="dropdown-item" href="research.html.twig">Research</a></li>
                <li><a class="dropdown-item" href="scholarship.html.twig">Scholarship</a></li>
                <li><a class="dropdown-item" href="course-single.html.twig">Course Details</a></li>
                <li><a class="dropdown-item" href="event-single.html.twig">Event Details</a></li>
                <li><a class="dropdown-item" href="blog-single.html.twig">Blog Details</a></li>
                
                <li class="dropdown-item dropdown dropleft">
                  <a class="dropdown-toggle" href="#" id="navbarDropdownSubmenu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sub Menu
                  </a>
                  <ul class="dropdown-menu dropdown-submenu" aria-labelledby="navbarDropdownSubmenu">
                    <li><a class="dropdown-item" href="#!">Sub Menu 01</a></li>
                    <li><a class="dropdown-item" href="#!">Sub Menu 02</a></li>
                    <li><a class="dropdown-item" href="#!">Sub Menu 03</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="nav-item @@contact">
              <a class="nav-link" href="contact.html.twig">CONTACT</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  </header>
<!-- page title -->
<section class="page-title-section overlay" data-background="img/backgrounds/page-title.jpg">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-inline custom-breadcrumb mb-2">
          <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="index.html.twig">Pages</a></li>
          <li class="list-inline-item text-white h3 font-secondary nasted">Quiz</li>
        </ul>
        <p class="text-lighten mb-0">Voici où vous pouvez passer vos quiz et obtenir votre note.</p>
      </div>
    </div>
  </div>
</section>

<!-- /searchbar and sorter -->
<div class="row">
    <div class="col-md-6 mb-4">
      <form id="searchForm">
        <div class="input-group">
          <input type="text" id="searchInput" class="form-control" placeholder="Search by quiz name">
        </div>
      </form>
    </div>
</div>
<!-- /quiz -->
<section class="section">
  <div class="container">
    <div class="row">
      {% for quiz in pagination %}
      <div class="col-md-3">
        <div class="card mb-4" style="margin: 0 auto; max-width: 300px; text-align: center;">
          <div class="card-img-container" style="height: 200px; overflow: hidden;">
            <img class="card-img-top" src="{{ asset(quiz.image) }}" alt="{{ quiz.nomQuiz }}" style="object-fit: cover; height: 100%; width: 100%;">
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ quiz.nomQuiz }}</h5>
            <p>Durée: 30mins</p>
            <a href="{{ path('app_questions', { 'id': quiz.idQuiz }) }}" class="btn btn-primary">Commencer Quiz</a>
          </div>
        </div>
      </div>
      {% if loop.index is divisible by(4) %}
        </div><div class="row">
      {% endif %}
      {% endfor %}
    </div>
    <div class="pagination">
            {{ knp_pagination_render(pagination) }}
    </div>
  </div>
</section>
</body>

<script >
  // Get the input field and add an event listener for changes
  document.getElementById("searchInput").addEventListener("input", function() {
    // Get the search term
    var searchTerm = this.value.trim().toLowerCase();

    // Get all the quiz cards
    var quizCards = document.querySelectorAll(".card");

    // Loop through each quiz card
    quizCards.forEach(function(card) {
      // Get the quiz name
      var quizName = card.querySelector(".card-title").textContent.trim().toLowerCase();

      // Check if the search term matches the quiz name
      if (quizName.includes(searchTerm)) {
        // Show the quiz card
        card.style.display = "block";
      } else {
        // Hide the quiz card
        card.style.display = "none";
      }
    });
  });
</script>
 {% endblock %}