{% extends 'admin.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card custom-card">
                    <div class="card-header" style="background-color: #213e60">
                        <h1 class="card-title" style="color: #ffffff;">Créer une nouvelle Catégorie</h1>
                    </div>
                    <div class="card-body">
                        {{ include('categorie/_form.html.twig') }}
                    </div>
                    <div class="card-footer text-muted">
                        <a href="{{ path('app_categorie_index') }}" class="btn btn-primary">Voir la liste des catégories</a>
                        <a href="{{ path('app_list_formations') }}" class="btn btn-primary">Retour à la liste des formations</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('path/to/font-awesome/css/all.min.css') }}" />
    <style>
        /* Vos styles personnalisés ici */
        .custom-card {
            border-radius: 15px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        .card-header {
            background-color: #213e60;
        }
        .card-title {
            color: #ffffff;
        }
        .btn-primary {
            background-color: #213e60;
            color: #ffffff;
            border-color: #213e60;
        }
        .btn-primary:hover {
            background-color: #2c5282;
            border-color: #2c5282;
        }
    </style>
{% endblock %}
